body {
    font-family: Arial, Helvetica, sans-serif;
}
#back-to-homepage-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: px;
}

/* Add styles to foodaholic-cook and search bar*/
#title-div {
    background-color: transparent;
    margin-top: 10px;
}
#foodaholic-cook {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: orange;
}
h1.title {
    font-family: "Sofia", sans-serif;
    color: purple;
    font-style: italic;
    font-size: 35px;
    margin-top: -70px;
    margin-left: 100px;
}
#search-div {
    margin-left: -100px;
    margin-top: 15px;
    height: 45px;
    position: absolute;
}
input.search-bar {
    width: 470px;
    height: 100%;
    border: 1px solid grey;
    padding: 0 0 0 20px;
    border-radius: 25px;
    background-color: transparent;
}
button.search-button {
    width: 50px;
    height: 48px;
    background-color: orange;
    margin-left: -30px;
    margin-top: -5px;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}
button.search-button:hover {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 50%, #ffffff 100%);
}

/* Add styles to no results div */
div.no-result-div {
    width: 100%;
    height: auto;
    margin-top: 30px;
    text-align: center;
}
img.no-recipe-img {
    width: 200px;
    height: 200px;
}
label.no-recipe-label {
    font-size: 30px;
    font-family: "Sofia", sans-serif;
}


/* Add styles to searched results, filters */
div.show-input-div {
    width: 220px;
    height: auto;
    margin-top: 100px;
    text-align: center;
    font-size: 18px;
    box-shadow: 2px 2px rgb(0, 0, 0, 0.3);
    background-color: rgb(255, 165, 0, 0.4);
    word-wrap: break-word;
    margin-left: 80px;
}
div.sort-div {
    width: 220px;
    height: 25px;
    background-color: rgb(255, 165, 0, 0.8);
    box-shadow: 2px 2px rgb(0, 0, 0, 0.3);
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    cursor: pointer;
    margin-left: 80px;
}
div.sort-features-div {
    width: 220px;
    height: auto;
    box-shadow: 2px 2px rgb(0, 0, 0, 0.3);
    background-color: rgb(253, 229, 183);
    overflow: hidden;
    z-index: 200;
    margin-left: 80px;
    position: absolute;
    display: none;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
button.sort-feature-button {
    width: 220px;
    height: 40px;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(255, 165, 0, 0.2);
    border: none;
}
button.sort-feature-button:hover {
    background-color: rgb(255, 165, 0, 0.6);
}

/* Add styles to post gallery */
div.recipes-div {
    width: 100%;
    height: auto;
    margin-left: 25px;
    margin-top: -605px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    margin-left: 45px;
    margin-top: 20px;
    width: 250px;
    height: 275px;
    background-color: rgb(0, 0, 0, 0.1);
}
div.gallery img.post-image {
    width: 100%;
    height: 150px;
    border-bottom: 2px solid grey;
    cursor: pointer;
}
div.gallery img.post-image:hover {
    opacity: 0.7;
}
small.recipe-name {
    margin-left: 10px;
    padding-top: 5px;
}
div.post-avatar-icon-div {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
img.post-avatar-icon {
    width: 40px;
    height: 40px;
    border-radius: 90%;
    border: none;
    margin-top: 20px;
    margin-left: 5px;
    cursor: pointer;
}
div.post-username {
    width: 120px;
    height: 20px;
    background-color: transparent;
    margin-top: -10px;
    margin-left: 52px;
    cursor: pointer;
}
div.post-username:hover {
    text-decoration: underline;
    color: purple;
}
div.postingUser {
    margin-top: -5px;
    width: 70%;
    height: 45px;
    background-color:transparent;
}
button.view-post-button {
    padding: 3px 20px;
    background-color: orange;
    margin-left: 175px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
#view-post-button:hover {
    opacity: 0.8;
}
#calo-div {
    text-align: center;
    height: 25px;
    padding-top: 7px;
}
button.see-more-button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border: 2px solid white;
}
button.see-more-button:hover {
    border: 2px solid grey;
    background-color: rgb(255, 165, 0, 0.85);
}