<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Foodaholic</title>
        <!--Add Google Fonts-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">

        <!--Add title icon-->
        <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/5141/5141534.png">
    
        <!--Add style file-->
        <link rel="stylesheet" href="/Styles/my-favorite.css">
        <link rel="stylesheet" href="/Styles/navigation-bar.css">
        <link rel="stylesheet" href="/Styles/loader.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!--Add Javascript files-->
        <script type="text/javascript" src="/Scripts/functions.js"></script>
        <script type="text/javascript" src="/Scripts/my-favorite.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        
    </head>

    <body>
        <script>
            hidePreloader();
        </script>

        <!--Add loading effect-->
        <div id="loader-wrapper" class="loader-wrapper">
            <span class="loader">
                <span class="loader-inner">
                </span>
            </span>
            <div class="loading-text">
                <h2 class="loading">Loading...</h2>
            </div>
        </div>


        <ul class="navigation-bar">
            <li><a class="fa fa-home" href="/templates/mainpage.html" style="font-size:23px"></a></li>
            <li><a class="home-button" href="/templates/mainpage.html"> Home</a></li>
            <div class="about-us-div">
                <li><a class="about-us" href="#about">About Us</a></li>
                <span class="about-us-text">Foodaholic is created by Group 1 including
                    <ul>
                        <li>Le Trong Anh Tu: 20127091</li>
                        <li>Nguyen Thien Nhan: 20127265</li>
                        <li>Le Dang Khoa: 20127533</li>
                        <li>Phan Tuan Khai: 20127524</li>
                    </ul>
                </span>
            </div>
            <div class="profile-dropdown">
                <button class="dropbtn">
                    <div class="avatar-img-div">
                        <img src="" id="avatar-img" class="avatar-img" alt="Avatar">
                    </div>
                    <div class="show-username-div">
                        <h3 id="show-username" class="show-username"></h3>
                    </div>
                </button>
                <div class="dropdown-content">
                    <a id="profile-name" class="profile-name"></a>
                    <a href="/templates/my-post.html" id="my-recipes" style="border-top: 1px solid white"><i class="fa fa-book"></i>&nbsp&nbspMy Recipes</a>
                    <a href="/templates/profile.html" id="edit-profile"><i class="fa fa-edit"></i> Edit Information</a>
                    <a href="#" id="change-username"><i class="fa fa-user"></i>&nbsp&nbspChange Username</a>
                    <a href="#" id="change-password"><i class="fa fa-key"></i>&nbsp&nbspChange Password</a>
                    <!--<a href="#" id="like-list"><i class="fa fa-thumbs-up"></i>&nbsp&nbspLike List</a>-->
                    <!--<a href="#" id="comment-list"><i class="fa fa-comment"></i>&nbsp&nbspComment List</a>-->
                    <a href="/templates/my-favorite.html" id="my-favorite"><i class="fas fa-bookmark"></i>&nbsp&nbspMy Favorites</a>
                    <a href="javascript:signOut()" style="border-top: 1px solid white"><i class="fas fa-door-open"></i>&nbsp&nbspSign Out</a>
                </div>
            </div>
        </ul>
        
        <div id="back-to-homepage" class="back-to-homepage">
            <button id="back-to-homepage-button" onclick="history.back()"><i class="fa fa-arrow-left" style="font-size:30px;"></i></button>
        </div>
        
        <div class="in-page-profile" id="in-page-profile">
            <div class="avatar-div">
                <img id="in-page-avatar" src="https://iptc.org/wp-content/uploads/2018/05/avatar-anonymous-300x300.png">
            </div>
            <div class="fullname">
                <span id="fullname">XXXXXXXX</span>
            </div>
            <div class="username">
                <span id="username">@XXXXXXXX</span>
            </div>
        </div>

        <div class="my-recipes-title-div">
            <span class="my-recipes-title">My Favorite</span>
        </div>

        <hr></hr>

        <div id="no-recipes-div">
            <img id="no-recipes-img" src="https://assets-global.cpcdn.com/assets/empty_states/no_recipes-84aa8bf756440427c64540db18586399828e528d3920270cff1f6928f92c4d4a.svg">
            <span id="no-recipes-title">Get started and save your first recipe to your Favorite</span>
            <span id="no-recipes-subtitle"> You haven't save any recipes to Your Favorite.<br>Let's find your favorite recipe in our homepage</span>
        </div>

        <div id="favorite-recipes-div" class="favorite-recipes-div"></div>

        <script>
            username = sessionStorage.getItem("username");
            avatar = sessionStorage.getItem("avatar");
            cover = sessionStorage.getItem("cover");
            anonymousAvatar = "https://iptc.org/wp-content/uploads/2018/05/avatar-anonymous-300x300.png";

            show_username = username;
            if (username.length > 15) {
                show_username = show_username.substring(0, 16) + "...";
            }
            document.getElementById("profile-name").innerHTML = show_username;
            document.getElementById("show-username").innerHTML = show_username;
            //var img = document.createElement("img");
            //img.src = "data:image/;base64," + avatar;
            //console.log(img.src);
            var avatar_string = "data:image/;base64," + avatar;
            document.getElementById("avatar-img").src = avatar_string;
            //var cover_string = "data:image/;base64," + cover;
            //document.getElementById("cover-img").src = cover_string;
    
            checkGuest();
            viewProfile();
            getFavoriteRecipes();
        </script>

    </body>
</html>
