<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Foodaholic</title>
        <!--Add Google Fonts-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">

        <!--Add title icon-->
        <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/5141/5141534.png">
    
        <!--Add style file-->
        <link rel="stylesheet" href="/Styles/change-password.css">
        <link rel="stylesheet" href="/Styles/navigation-bar.css">
        <link rel="stylesheet" href="/Styles/loader.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!--Add Javascript files-->
        <script type="text/javascript" src="/Scripts/functions.js"></script>
        <script type="text/javascript" src="/Scripts/change-password.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <script>
            hidePreloader();
        </script>

        <!--Add loading effect-->
        <div id="loader-wrapper" class="loader-wrapper">
            <span class="loader">
                <span class="loader-inner">
                </span>
            </span>
            <div class="loading-text">
                <h2 class="loading">Loading...</h2>
            </div>s
        </div>
        
        <ul class="navigation-bar">
            <li><a class="fa fa-home" href="/templates/mainpage.html" style="font-size:23px"></a></li>
            <li><a class="home-button" href="/templates/mainpage.html"> Home</a></li>
            <div class="about-us-div">
                <li><a class="about-us" href="#about">About Us</a></li>
                <span class="about-us-text">Foodaholic is created by Group 1 including
                    <ul>
                        <li>Le Trong Anh Tu: 20127091</li>
                        <li>Nguyen Thien Nhan: 20127265</li>
                        <li>Le Dang Khoa: 20127533</li>
                        <li>Phan Tuan Khai: 20127524</li>
                    </ul>
                </span>
            </div>
            <div class="profile-dropdown">
                <button class="dropbtn">
                    <div class="avatar-img-div">
                        <img src="" id="avatar-icon" class="avatar-icon" alt="Avatar">
                    </div>
                    <div class="show-username-div">
                        <h3 id="show-username" class="show-username"></h3>
                    </div>
                </button>
                <div class="dropdown-content">
                    <a id="profile-name" class="profile-name"></a>
                    <a href="/templates/my-post.html" id="my-recipes" style="border-top: 1px solid white"><i class="fa fa-book"></i>&nbsp&nbspMy Recipes</a>
                    <a href="/templates/profile.html" id="edit-profile"><i class="fa fa-edit"></i> Edit Information</a>
                    
                    <a href="/templates/change-password.html" id="change-password"><i class="fa fa-key"></i>&nbsp&nbspChange Password</a>
                    <!--<a href="#" id="like-list"><i class="fa fa-thumbs-up"></i>&nbsp&nbspLike List</a>-->
                    <!--<a href="#" id="comment-list"><i class="fa fa-comment"></i>&nbsp&nbspComment List</a>-->
                    <a href="/templates/my-favorite.html" id="my-favorite"><i class="fas fa-bookmark"></i>&nbsp&nbspMy Favorites</a>
                    <a href="javascript:signOut()" style="border-top: 1px solid white"><i class="fas fa-door-open"></i>&nbsp&nbspSign Out</a>
                </div>
            </div>
        </ul>

        <div class="profile-pictures">
            <div class="avatar-div">
                <img src="" id="main-avatar-img" class="main-avatar-img">
            </div> 

            <div class="cover-div">
                <img src="" id="cover-img" class="cover-img">
            </div>
        </div>

        <div class="div-profile-name">
            <h1 id="onpage-profile-fullname" class="profile-fullname"></h1>
            <h3 id="onpage-profile-username" class="profile-username"></h3>
        </div>

        <div class="edit-profile-div">
            <div class="alert-edit-successfully" id="alert-edit-successfully">
                <label for="alert-edit-successfully">Your password was updated successfully!</label>
            </div>
            <div id="alert-existed-account" class="alert-existed-account"></div>
            <div id="alert-wrong-password" class="alert-wrong-password"><strong>Wrong password!</strong></div>
            <div id="alert-wrong-password-format" class="alert-wrong-password-format"></div>
            <div id="alert-not-match-password" class="alert-not-match-password"></div>

            <form name="change-password-form" class="change-password-form" onsubmit="return false;">
                <div class="container">
                    <label for="your-username">Username</label>
                    <input type="text" id="your-username" name="your-username" disabled><br>

                    <label for="old-password">Old Password<b class="asterisk"> *</b></label>
                    <input type="password" id="old-password" name="old-password" maxlength="20" placeholder="Enter password"><br>
                    <span id="warning-caps-lock" style="color:red; display: none; margin-bottom: 10px;">Warning: Caps Lock is on</span>

                    <label for="new-password">New Password<b class="asterisk"> *</b></label>
                    <input type="password" id="new-password" name="new-password" oninput="validatePassword()" maxlength="20" placeholder="Enter Password" required><br>
                    <div id="message">
                        <small>Password must contain the following:</small><br>
                        <small id="letter" class="invalid">A <b>lowercase</b> letter</small><br>
                        <small id="capital" class="invalid">A <b>capital (uppercase)</b> letter</small><br>
                        <small id="number" class="invalid">A <b>number</b></small><br>
                        <small id="special_character" class="invalid">A <b>special character</b></small><br>
                        <small id="length" class="invalid">Minimum <b>6 characters</b></small><br>
                    </div>

                    <label for="confirm-password">Confirm password<b class="asterisk"> *</b></label><br>
                    <input type="password" id="confirm-password" name="confirm-password" placeholder="Enter Password" required oninput="validateReenterPassword()"><br>


                    <input type="submit" class="submit-button" value="Submit" id="submit-button" onclick="sendSubmit()"><br>
                    <input type="submit" class="cancel-button" value="Cancel" id="cancel-button" onclick="javascript:location.reload();"><br>
                </div>
            </form>
        </div>

        <script>
            getProfileInformation();
            getAnonymousAvatarAndCover();

            available = sessionStorage.getItem("available");
            if (available === false || available === 'false'){
                alert("This account has been suspended");
                location.href = '/templates/mainpage.html';
            }

            username = sessionStorage.getItem("username");
            show_username = username;
            if (username.length > 15) {
                show_username = show_username.substring(0, 16) + "...";
            }
            document.getElementById("profile-name").innerHTML = show_username;
            document.getElementById("show-username").innerHTML = show_username;
            if (username === "GUEST") {
                alert("Cannot access this page as a GUEST");
                location.href = "/templates/mainpage.html";
            }

            let input = document.getElementById('old-password');
            let text = document.getElementById("warning-caps-lock");
            input.addEventListener("keyup", function(event) {
                // If "caps lock" is pressed, display the warning text
                if (event.getModifierState("CapsLock")) {
                    text.style.display = "block";
                } 
                else {
                    text.style.display = "none";
                    }
            });
            let input2 = document.getElementById('new-password');
            input2.addEventListener("keyup", function(event) {
                // If "caps lock" is pressed, display the warning text
                if (event.getModifierState("CapsLock")) {
                    text.style.display = "block";
                } 
                else {
                    text.style.display = "none";
                    }
            });
            let input3 = document.getElementById('confirm-password');
            input3.addEventListener("keyup", function(event) {
                // If "caps lock" is pressed, display the warning text
                if (event.getModifierState("CapsLock")) {
                    text.style.display = "block";
                } 
                else {
                    text.style.display = "none";
                    }
            });
        </script>
            
        <script>
        </script>

    </body>
</html>
