body {
    font-family: Arial, Helvetica, sans-serif;
}
b.asterisk {
    color: red;
}

/* Add styles to profile images */
div.profile-pictures {
    text-align: center;
    margin-left: -820px;
}
img.main-avatar-img {
    border-radius: 50%;
    border: 5px solid white;
    z-index: 100;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 260px;
    margin-left: 300px;
}
img.cover-img {
    border: 2px solid white;
    width: 800px;
    z-index: 98;
    position: absolute;
}


/* Add styles to profile name */
div.div-profile-name {
    background-color: transparent;
    margin-top: 440px;
    text-align: center;
}
h1.profile-fullname {
    color: black;
}
h3.profile-username {
    margin-top: -10px;
    color: grey;
}


/* Add styles to change username form */
div.change-password-form {
    font-family: 'Arial';
    text-align: center;
    display: block;
}
form.change-password-form {
    border: 3px solid #f1f1f1;
    border-radius: 20px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 5px;
}

.container input[type=text], .container input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}
input.submit-button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 17px;
  border-radius: 20px;
}
input.submit-button:hover {
  opacity: 0.8;
}
input.cancel-button {
    background-color: white;
    color: red;
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid red;
    cursor: pointer;
    width: 50%;
    font-size: 15px;
    border-radius: 25px;
    margin-left: 105px;
  }
input.cancel-button:hover {
    opacity: 0.8;
    background-color:rgba(255, 211, 211, 0.9);
}
.container {
    padding: 16px;
}

/* Add styles to password validation */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#message small {
    padding: 10px 35px;
}
/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}
.valid:before {
    position: relative;
    left: -35px;
    content: "\2713";
}
/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: #f7a6a6;
}
.invalid:before {
    position: relative;
    left: -35px;
    content: "\2716";
}

/* Add styles to alert boxes */
div.alert-existed-account, div.alert-wrong-password, div.alert-wrong-password-format, div.alert-not-match-password {
    padding: 10px;
    color: white;
    font-family: "Arial";
    text-align: center;
    display: none;
    background-color: red;
    width: 434px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 20px;
}
div.alert-edit-successfully {
    padding: 20px;
    color: green;
    font-family: "Arial";
    text-align: center;
    display: none;
    background-color: rgb(138, 248, 147);
    width: 434px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 20px;
}
