/* Add styles to sign in form */
div.sign-in-form {
    font-family: 'Arial';
    text-align: center;
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
form.sign-in-form {
    border: 3px solid #f1f1f1;
    width: 450px;
    height: 305px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 10px;
    border-radius: 20px;
}

.container input[type=text], .container input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}

input.sign-in-button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 17px;
  border-radius: 20px;
}

input.sign-in-button:hover {
  opacity: 0.8;
}

a.change-to-sign-up {
  width: auto;
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
}

button.change-to-sign-up:hover {
    opacity: 0.8;
    cursor: pointer;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* Add styles to "continue as guest" */
div.continue-as-guest {
    width: 100%;
    text-align: center;
}
a.continue-as-guest {
    width: auto;
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 150px;
}
a.continue-as-guest:hover {
    opacity: 0.95;
}


/* Add styles to alert box */
div.alert-wrong-uname-psw {
    padding: 10px;
    color: white;
    font-family: "Arial";
    text-align: center;
    display: none;
    background-color: red;
    width: 434px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    border-radius: 20px;
}
