/* Add styles to profile images */
div.profile-pictures {
    text-align: center;
    margin-left: -820px;
}
img.main-avatar-img {
    border-radius: 50%;
    border: 5px solid white;
    z-index: 100;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 260px;
    margin-left: 300px;
}
.upload-btn {
    position: absolute;
    text-align: center;
    top: 262px;
    margin-left: 303px;
    background-color: grey;
    color: black;
    padding: 10px;
    border: 2px solid white;
    cursor: pointer;
    width: 204px;
    height: 204px;
    font-size: 100px;
    border-radius: 50%;
    opacity: 0;
    z-index: 101;
    transition: all .3s ease;
}
.upload-btn:hover {
    opacity: 0.3;
}
#delete-avatar {
    position: absolute;
    text-align: center;
    margin-left: 332px;
    top: 480px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: red;
    border: 1px solid red;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 20px;
}
img.cover-img {
    border: 2px solid white;
    width: 800px;
    z-index: 98;
    position: absolute;
}
.upload-cover-btn {
    position: absolute;
    text-align: center;
    background-color: grey;
    color: black;
    padding: 10px;
    border: 2px solid white;
    cursor: pointer;
    width: 804px;
    height: 265px;
    font-size: 100px;
    opacity: 0;
    z-index: 99;
    transition: all .3s ease;
}
.upload-cover-btn:hover {
    opacity: 0.5;
}
#delete-cover {
    position: absolute;
    text-align: center;
    margin-left: 655px;
    top: 330px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: red;
    border: 1px solid red;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 20px;
}


/* Add styles to profile name */
div.div-profile-name {
    z-index: 200;
    background-color: transparent;
    margin-top: 500px;
    text-align: center;
}
h1.profile-fullname {
    color: black;
}
h3.profile-username {
    margin-top: -10px;
    color: grey;
}


/* Add styles to edit information form */
div.edit-profile-form {
    font-family: 'Arial';
    text-align: center;
    display: block;
}
form.edit-profile-form {
    border: 3px solid #f1f1f1;
    border-radius: 20px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 5px;
}

.container input[type=text], .container input[type=password],
.container input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}
select.gender {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
}
option.male, option.female {
    padding: 12px 20px;
    margin: 15px 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
input.submit-button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 17px;
  border-radius: 20px;
}
input.submit-button:hover {
  opacity: 0.8;
}
input.cancel-button {
    background-color: white;
    color: red;
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid red;
    cursor: pointer;
    width: 50%;
    font-size: 15px;
    border-radius: 25px;
    margin-left: 105px;
  }
input.cancel-button:hover {
    opacity: 0.8;
    background-color:rgba(255, 211, 211, 0.9);
}
.container {
    padding: 16px;
}

/* Add styles to alert boxes */
div.alert-firstname, div.alert-surname, div.alert-email, div.alert-phone {
    padding: 10px;
    color: white;
    font-family: "Arial";
    text-align: center;
    display: none;
    background-color: red;
    width: 434px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 20px;
}
div.alert-edit-successfully {
    padding: 20px;
    color: green;
    font-family: "Arial";
    text-align: center;
    display: none;
    background-color: rgb(138, 248, 147);
    width: 434px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 20px;
}
