/* Add styles to About Us box */
.about-us-div .about-us-text {
    visibility: hidden;
    width: 0px;
    font-size: 15px;
    background-color: rgba(204, 204, 204, 0.9);
    font-family: "Arial", sans-serif;
    color: black;
    text-align: left;
    border-radius: 4px;
    padding: 10px;
    margin-left: 15px;
  
    /* Position the about-us-div */
    position: absolute;
    z-index: 100;
}
.about-us-div:hover .about-us-text {
    visibility: visible;
    width: 285px;
}



/* Add styles to navigation bar */
ul.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-left: -8px;
    margin-top: -8px;
    width: 103%;
    font-size: 20px;
}
li{
    float: left;
}
li.name {
    padding: 4px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: orange;
}

div.avatar-img-div {
    margin-left: -90px;
}
div.show-username-div {
    margin-top: -45px;
    margin-left: 110px;
    text-align: left;
    width: 140px;
}
.profile-dropdown {
    float: right;
    overflow: hidden;
    margin-right: 40px;
}
.profile-dropdown button.dropbtn {
    border: none;
    outline: none;
    color: white;
    font-family: inherit; /* Important for vertical align on mobile phones */
}
button.dropbtn {
    background-color: transparent;
    border: none;
}
.profile-dropdown:hover .dropbtn {
    background-color: transparent;
    border-radius: 50%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 500;
    border-radius: 10px;
    margin-left: 80px;
}
.dropdown-content a {
    float: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
}
.dropdown-content a:hover {
    background-color: orange;
    border-radius: 10px;
}
a.profile-name:hover {
    background-color: transparent;
}
/* Show the dropdown menu on hover */
.profile-dropdown:hover .dropdown-content {
    display: block;
}

img.avatar-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 8px;
}
img.avatar-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 8px;
}
a.profile-name {
    color: white;
    font-size: 18px;
    text-align: center;
}