/* Add styles to sign up form */
b.asterisk {
    color: red;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
form.post-recipe-form, form.upload-thumbnail-form {
    border: 3px solid #f1f1f1;
    border-radius: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 5px;
}

/* Add styles to alert box */
div.alert-wrong-calories {
    padding: 10px;
    color: white;
    font-family: "Arial";
    text-align: center;
    display: none;
    background-color: red;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 20px;
}

/* Add styles to ingredients field */
button.add-ingredient-button {
    background-color: transparent;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button.add-ingredient-button:hover {
    opacity: 0.8;
}
button.delete-ingredient-button {
    font-size: 50px;
    background-color: transparent;
    text-align: right;
    width: 95%;
    border: none;
    cursor: pointer;
}
.container {
    padding: 16px;
}
hr {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
h1.post-title, h1.upload-thumbnail-title {
    text-align: center;
    font-family: "Arial";
    font-size: 30px;
}
#back-to-homepage-button, #back-to-post-recipe-form-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
div.cancel-post-div {
    margin-left: 35px;
    margin-top: -35px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    cursor: pointer;
}
img.recipe-name-img {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-left: 40px;
}
div.recipe-name-title-div {
    font-size: 19px;
    font-family: "Arial";
    margin-top: -35px;
    margin-left: 90px;
}
label {
    cursor: auto;
}
img.short-description-img {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-left: 40px;
}
div.short-description-title-div {
    font-size: 19px;
    font-family: "Arial";
    margin-top: -35px;
    margin-left: 90px;
}
div.textbox-short-description {
    width: 690px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
textarea.short-description {
    width: 100%;
    height: 100%;
    text-align: left;
    border: none;
    background-color: rgb(0, 0, 0, 0.08);
    font-family: "Arial";
    font-size: 14px;
}


img.ingredients-img, img.steps-img, img.nutritional-values-img, img.additional-images-img {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-left: 40px;
}
div.ingredients-title-div, div.steps-title-div, div.nutritional-values-title-div, div.additional-images-title-div {
    font-size: 19px;
    font-family: "Arial";
    margin-top: -35px;
    margin-left: 90px;
}
div.ingredient-div, div.step-div, div.nutritional-values-div, div.additional-images-div {
    margin-left: 38px;
    width: 100%;
    height: 60px;
    display: block;
    margin-top: 10px;
}
.container textarea {
    resize: none;
    text-align: left;
    border: none;
    background-color: rgb(0, 0, 0, 0.08);
    font-family: "Arial";
    font-size: 16px;
    width: 100%;
    margin-top: 5px;
}
textarea.ingredient, textarea.step {
    width: 90%;
}

img.preparation-time-img, img.cooking-time-img {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-left: 40px;
}
div.preparation-time-title-div, div.cooking-time-title-div {
    font-size: 19px;
    font-family: "Arial";
    margin-top: -33px;
    margin-left: 90px;
}

button.preparation-time-button, button.cooking-time-button {
    background-color: rgb(0, 0, 0, 0.08);
    padding: 10px;
    border: 1px solid grey;
    width: 163px;
    height: 45px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
}
button.preparation-time-button:hover, button.cooking-time-button:hover {
    background-color: rgb(226, 6, 6);
    color: white;
}
#preparation-time-less-than-10-min-button, #cooking-time-less-than-10-min-button {
    margin-left: 55px;
}
#preparation-time-up-to-50-min-button, #cooking-time-up-to-50-min-button {
    margin-left: 232px;
}
#preparation-time-up-to-50-min-button,  #preparation-time-more-than-50-min-button, #cooking-time-up-to-50-min-button,  #cooking-time-more-than-50-min-button {
    margin-top: 10px;
}


.upload-btn {
    background-color: grey;
    color: black;
    padding: 10px;
    border: 3px solid grey;
    cursor: pointer;
    width: 150px;
    height: 150px;
    font-size: 100px;
    opacity: 0;
    transition: all .3s ease;
}
.upload-btn:hover {
    opacity: 0.3;
}
#delete-step-img {
    position: absolute;
    margin-left: 170px;
    font-size: 15px;
    width: 170px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: red;
    border: 1px solid red;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 20px;
}
button.add-step-button {
    background-color: transparent;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button.add-step-button:hover {
    opacity: 0.8;
}
button.delete-step-button {
    font-size: 50px;
    background-color: transparent;
    text-align: right;
    width: 95%;
    border: none;
    cursor: pointer;
}


div.calories-title-div {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
#calories-title {
    margin-left: 90px;
    font-size: 18px;
    font-family: "Arial";
}
div.calories-textarea-div {
    width: 20%;
    margin-left: 230px;
    font-size: 12px;
    margin-top: -32px;
}
textarea.calories-textarea {
    font-size: 13px;
}
textarea.nutritional-value {
    font-size: 13px;
    height: 35px;
    width: 90%;
    margin-left: 40px;
    display: block;
}
button.add-nutritional-value-button {
    background-color: transparent;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button.add-nutritional-value-button:hover {
    opacity: 0.8;
}
button.delete-nutritional-value-button {
    font-size: 50px;
    background-color: transparent;
    text-align: right;
    width: 95%;
    border: none;
    cursor: pointer;
}

input.upload-additional-images-button {
    margin-left: 40px;
    margin-top: 30px;
}
div.next-button-div {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
button.next-button {
    background-color: orange;
    padding: 5px 20px;
    height: 30px;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
}

/* Add styles to upload thumbnail form */
div.alert-post-successfully {
    padding: 20px;
    color: green;
    font-family: "Arial";
    text-align: center;
    display: none;
    background-color: rgb(138, 248, 147);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 20px;
}
img.thumbnail-img {
    border: 5px solid white;
    z-index: 100;
    width: 300px;
    height: 200px;
    margin-left: 235px;
    border: 1px dashed white;
}
img.thumbnail-img:hover {
    cursor: pointer;
    opacity: 0.9;
    border: 1px dashed black;
}
#delete-thumbnail {
    text-align: center;
    margin-left: 300px;
    margin-top: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: red;
    border: 1px solid red;
    padding: 12px 20px;
    cursor: no-drop;
    border-radius: 20px;
    opacity: 0.8;
}

div.post-button-div {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}
button.post-button {
    background-color: orange;
    padding: 5px 20px;
    height: 30px;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: no-drop;
    opacity: 0.8;
}